.title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 3rem;
}
.swal2-toast-shown{
    position: relative;
    display: flex;
}

.buttons{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
}

.boton-carrito{
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    padding: .3rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0.4rem;
    margin-bottom: 1rem;
    background: yellowgreen;
}

.boton-carrito:hover{
    background-color: yellowgreen;
}
.cart-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
}
.cartt{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 1rem;
    
}


.go-home{
    padding: 1rem;
    font-weight: bold;
    background-color: yellow;
    border-radius: 5px;
    margin: auto;
    width: 10rem;

}

.go-home:hover{
    background-color: yellow;
    filter: contrast(0.9);
}

.precio-total{
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}

.info{
    display: flex;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;

    text-align: center;
    padding: 2rem;
}

.title-info{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.p-info{
    margin-bottom: 3rem;
}

.codigo-compra{
    font-weight: bold;
    background-color: yellowgreen;
    padding: 0.2rem;
    border-radius: 5px;
}

.procesando{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem 0;
}

.spinner-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
}

.swal2-toast-shown{
    display: flex;
}


@media only screen and (max-width: 800px){
    .cart-container{
        width: 90%;
    }
}