.img-detalle-container{
    display: flex;
    width: 90rem;
    background-color: white;
}

.img-detailss{
    height: 300px;
    margin: auto;
    object-fit: scale-down;
}

.details{
    width: auto;
}
.title-detail{
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.description-detail{
    margin: 2rem ;
}

.data-detail{
    margin: 1.5rem 0;
    margin-left: 2rem;
}

.item-count{
    position: relative;
    top: -120px;
    left: 100px;
}

.span-data{
    font-weight: bold;
    color: rgb(16, 15, 15);
}

.pagar{
    margin: auto;
    width: 110px;
    border: 2px solid #E74C3C;
    color: #E74C3C;
    border-radius: 25px;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;

    transition: ease-in 0.1s;
}

.pagar:hover{
    background-color: #E74C3C;
    border:2px solid black;
    color: white;
}