.item-detail-container{
    display: flex;
    height: 30rem;
    width: 60rem;
    background-color: #f0f0f0;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.swal2-toast-shown{
    position: relative;
    display: flex;
}