.item-detail-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #c4c4c4c4;
    border-radius: 0.5rem ;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
