.topheader {
    display: flex;
    flex-direction: row;

    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    height: 70px;
    background-color: #FFBD11;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100; }
    .topheader .topnav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 100vw;
        max-width: 980px;
        
        margin: 0 auto;
        margin: auto;
    }
        .topheader .topnav .logo {
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            color: var(--primary-color); }
        .topheader .topnav .menu {
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;
            align-items: center;
        }
        .topheader .topnav .menu li {
            padding: 0 15px; }
            .topheader .topnav .menu  a {
                color: black;
                font-size: .875rem;
                font-weight: 600;
                line-height: 50px;
                position: relative;
                padding: 0 8px;
            }

                .topheader .topnav .menu  a{
                    margin: auto;
                }
            .topheader .topnav .menu a .fa-cart {
                display: inline;

            }
            .topheader .topnav .menu  .after::after {
                content: "";
                background-color: black;
                position: absolute;
                left: 0;
                top: calc(65% + 4px);
                width: 100%;
                height: 4px;
                border-radius: 3px;
                opacity: 0;
                transition: opacity 0.3s; }
            .topheader .topnav .menu li a.selected::after,
            .topheader .topnav .menu li a:hover::after {
                opacity: 0.8; }
            .topheader .topnav .menu li a:hover {
                color: var(--primary-color); }
        .topheader .topnav .open-menu,
        .topheader .topnav .close-menu {
            display: none; }

.menu-item{
    display: flex;
}
.cart{
    padding-right: 0.5rem;
}

.log-out{
    font-weight: bold;
    font-size: .875rem;
    cursor: pointer;
    margin-left: 5rem;
    padding: 0.2rem;

    transition: 0.2s ease-in;
}

.log-out:hover{
    background-color: #00AAB2;
    border-radius: 0.2rem;
    color: white
}