/* .topheader {
    display: flex;
    flex-direction: row;

    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    height: 70px;
    background-color: #FFBD11;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100; }
    .topheader .topnav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 100vw;
        max-width: 980px;
        
        margin: 0 auto;
        margin: auto;
    }
        .topheader .topnav .logo {
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            color: var(--primary-color); }
        .topheader .topnav .menu {
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;
            align-items: center;
        }
        .topheader .topnav .menu li {
            padding: 0 15px; }
            .topheader .topnav .menu  a {
                color: black;
                font-size: .875rem;
                font-weight: 600;
                line-height: 50px;
                position: relative;
                padding: 0 8px;
            }

                .topheader .topnav .menu  a{
                    margin: auto;
                }
            .topheader .topnav .menu a .fa-cart {
                display: inline;

            }
            .topheader .topnav .menu  .after::after {
                content: "";
                background-color: black;
                position: absolute;
                left: 0;
                top: calc(65% + 4px);
                width: 100%;
                height: 4px;
                border-radius: 3px;
                opacity: 0;
                transition: opacity 0.3s; }
            .topheader .topnav .menu li a.selected::after,
            .topheader .topnav .menu li a:hover::after {
                opacity: 0.8; }
            .topheader .topnav .menu li a:hover {
                color: var(--primary-color); }
        .topheader .topnav .open-menu,
        .topheader .topnav .close-menu {
            display: none; }

.menu-item{
    display: flex;
}
.cart{
    padding-right: 0.5rem;
}

.log-out{
    font-weight: bold;
    font-size: .875rem;
    cursor: pointer;
    margin-left: 5rem;
    padding: 0.5rem;
    border-radius: 20px;

    transition: 0.2s ;
}

.log-out:hover{
    background-color: #00AAB2;
    color: white
} */


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    text-align: center;
    padding: 0 2rem;
    color: var(--color-secundario);
    background-color: #FFBD11;
    /* box-shadow: 1 1px 10px #122; */
    z-index: 1000;
}

.logo{
    font-weight: 500;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-link{
    margin: 0 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    font-size: .875rem;
    text-decoration: none;
    color: var(--color-secundario);
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
}

.nav-link:hover{
    /* color:#626262 ; */
    color:black ;
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--color-secundario);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    display: none;
}

.log-out{
    font-weight: bold;
    font-size: .875rem;
    cursor: pointer;
    margin-left: 5rem;
    padding: 0.5rem;
    border-radius: 20px;

    transition: 0.2s ;
}

.log-out:hover{
    background-color: #00AAB2;
    color: white
}

@media only screen and (max-width: 768px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
        display: initial;
    }
    
    nav .nav-link{
        width: 100%;
        margin: 0rem 0rem;
        padding: 2rem 0;
    }

    .nav-link:hover{
        background-color: #e2e2e2;
    }
    
    header nav{
        position: fixed;
        top:0 ;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f0f0f0;
        gap: 1.5rem;
        z-index: 100000;
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        font-size: 2.3rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }


    .log-out{
        margin-left: 0px;
    }

    .log-out:hover{
        color: black;
    }
}