.topheader {
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    height: 70px;
    background-color: lightblue;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100; }
    .topheader .topnav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        max-width: 980px;
        margin: 0 auto; }
        .topheader .topnav .logo {
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            color: var(--primary-color); }
        .topheader .topnav .menu {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0; }
        .topheader .topnav .menu li {
            padding: 0 15px; }
            .topheader .topnav .menu li a {
                color: black;
                font-size: .875rem;
                font-weight: 600;
                line-height: 50px;
                position: relative; }
            .topheader .topnav .menu li a .fa-moon {
                font-size: 1rem;
                transform: rotate(-0.03turn); }
            .topheader .topnav .menu li .after::after {
                content: "";
                background-color: black;
                position: absolute;
                left: 0;
                top: calc(65% + 4px);
                width: 100%;
                height: 4px;
                border-radius: 3px;
                opacity: 0;
                transition: opacity 0.3s; }
            .topheader .topnav .menu li a.selected::after,
            .topheader .topnav .menu li a:hover::after {
                opacity: 0.8; }
            .topheader .topnav .menu li a:hover {
                color: var(--primary-color); }
        .topheader .topnav .open-menu,
        .topheader .topnav .close-menu {
            display: none; }