.pay-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    text-align: center;
}

.h2-pay-form{
    font-size: 2rem;
    font-weight: bold;
    margin: 2.5rem;
    line-height: 2.5rem;
}

@media only screen and (max-width: 680px){
    .pay-form{
        width: 70%;
    }
}
@media only screen and (max-width: 500px){
    .pay-form{
        width: 80%;
    }
}
@media only screen and (max-width: 370px){
    .pay-form{
        width: 90%;
    }
}
@media only screen and (max-width: 330px){
    .pay-form{
        width: 100%;
    }
}